html {
  height: 100%;
}
body {
  font-family: '微软雅黑', 'Open Sans', sans-serif;
  color: #222222;
  -webkit-backface-visibility: hidden;
  background: #f4f4f4;
  height: 100%;
}
.clear:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}
/*隐藏*/
.hide {
  display: none;
}
/*显示*/
.show {
  display: block;
}
/*错误框*/
.error {
  border: 1px solid red !important;
}
/*不可见的*/
.invisible {
  visibility: hidden;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: #eee;
}
::-webkit-scrollbar-thumb {
  background-color: #0078c3;
  border-radius: 10px;
}
