.header {
  height: 120px;
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;
}
.header .header-wrapper {
  width: 1200px;
  margin: 0 auto;
}
.header .header-wrapper .logo {
  margin-top: 26px;
  height: 66px;
  width: 334px;
  background: url("i/i-logo.png") no-repeat center;
  float: left;
}
.header .header-wrapper .tel {
  margin-top: 40px;
  height: 44px;
  width: 215px;
  background: url("i/i-tel.png") no-repeat left;
  float: right;
  padding-left: 35px;
}
.header .header-wrapper .tel p {
  font-size: 14px;
  color: #5b5b5b;
}
.header .header-wrapper .tel i {
  color: #ee7207;
  font-size: 24px;
  font-family: Arial;
}
.footer {
  height: 148px;
  color: #c9c9c9;
  padding-top: 38px;
  font-size: 12px;
  text-align: center;
}
.bluetxt {
  color: #0078c3!important;
}
.yellowtxt {
  color: #f66f00!important;
}
.redtxt {
  color: #ff0000!important;
}
.member-header .header-top {
  width: 100%;
  background-color: #f8f8f8;
  height: 30px;
  line-height: 30px;
}
.member-header .header-top .top-wrapper {
  width: 1200px;
  margin: 0 auto;
  font-size: 12px;
}
.member-header .header-top .top-wrapper .tel {
  background: url("i/i-tel2.png") no-repeat left;
  color: #f66f00;
  padding-left: 20px;
  margin-left: 20px;
}
.member-header .header-top .top-wrapper .func {
  float: right;
}
.member-header .header-top .top-wrapper .func a {
  color: #777777;
  margin-left: 10px;
}
.member-header .header-top .top-wrapper .func .app {
  background: url("i/i-cellphone.png") no-repeat left;
  padding-left: 15px;
}
.member-header .header-top .top-wrapper .func .wechat {
  background: url("i/i-wechat.png") no-repeat left;
  padding-left: 25px;
}
.member-header .header-logo {
  background: #ffffff;
  width: 100%;
  height: 90px;
}
.member-header .header-logo .header-wrapper {
  width: 1200px;
  margin: 0 auto;
}
.member-header .header-logo .header-wrapper .logo {
  height: 90px;
  width: 340px;
  float: left;
  background: url("i/i-logo.png") no-repeat left;
}
.member-header .header-logo .header-wrapper .menu {
  width: 640px;
  float: right;
  height: 36px;
  line-height: 36px;
  margin-top: 30px;
}
.member-header .header-logo .header-wrapper .menu ul li {
  float: left;
  text-align: center;
  margin-left: 45px;
  cursor: pointer;
}
.member-header .header-logo .header-wrapper .menu ul li.current {
  background-color: #0078c3;
  color: #ffffff;
  border-radius: 3px;
}
.member-header .header-logo .header-wrapper .menu ul li.frontpage {
  width: 90px;
}
.member-header .banner {
  width: 100%;
  height: 240px;
  background: url("i/i-member.png") no-repeat center #101010;
}
.member-header .asset-banner {
  width: 100%;
  height: 120px;
  background: url("i/i-asset.jpg") no-repeat center #101010;
}
.member-header .news-banner {
  width: 100%;
  height: 300px;
  background: url("i/i-news.jpg") no-repeat center #101010;
}
.member-header .help-banner {
  width: 100%;
  height: 300px;
  background: url("i/i-help.jpg") no-repeat center #101010;
}
.member-content .member-content-wrapper {
  width: 1200px;
  margin: 0 auto;
}
.member-content .member-content-wrapper .list-nav {
  margin-top: 25px;
  color: #5b5b5b;
  font-size: 14px;
}
.member-content .member-content-wrapper .list-nav a {
  color: #5b5b5b;
}
.member-content .member-content-wrapper .nav {
  height: 617px;
  width: 203px;
  background-color: #0078c3;
  margin-top: 12px;
  float: left;
  color: #ffffff;
  position: relative;
}
.member-content .member-content-wrapper .nav .title {
  height: 95px;
  padding: 25px 0 0 30px;
  background-color: #006caf;
}
.member-content .member-content-wrapper .nav .title p:first-child {
  font-size: 24px;
}
.member-content .member-content-wrapper .nav .title p:last-child {
  font-size: 14px;
}
.member-content .member-content-wrapper .nav .nav-wrapper {
  font-size: 14px;
}
.member-content .member-content-wrapper .nav .nav-wrapper ul li {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  cursor: pointer;
}
.member-content .member-content-wrapper .nav .nav-wrapper ul li.nav-rz {
  background: url("i/i-member1.png") no-repeat 30px;
}
.member-content .member-content-wrapper .nav .nav-wrapper ul li.nav-zq {
  background: url("i/i-member2.png") no-repeat 30px;
}
.member-content .member-content-wrapper .nav .nav-wrapper ul li.nav-cz {
  background: url("i/i-member3.png") no-repeat 30px;
}
.member-content .member-content-wrapper .nav .nav-wrapper ul li.nav-tj {
  background: url("i/i-member4.png") no-repeat 30px;
}
.member-content .member-content-wrapper .nav .nav-wrapper ul li.nav-hz {
  background: url("i/i-member5.png") no-repeat 30px;
}
.member-content .member-content-wrapper .nav .nav-wrapper ul li.nav-xt {
  background: url("i/i-member6.png") no-repeat 30px;
}
.member-content .member-content-wrapper .nav .nav-wrapper ul li.nav-zh {
  background: url("i/i-member7.png") no-repeat 30px;
}
.member-content .member-content-wrapper .nav .nav-wrapper ul li a {
  display: block;
  border-bottom: 1px solid #3393cf;
  border-top: 1px solid #003c61;
  padding-left: 35px;
  color: #ffffff;
}
.member-content .member-content-wrapper .nav .nav-wrapper ul li:first-child a {
  border-top: none;
}
.member-content .member-content-wrapper .nav .nav-wrapper ul li:last-child a {
  border-bottom: none;
}
.member-content .member-content-wrapper .nav .nav-wrapper ul li:hover {
  background-color: #ff6c33;
}
.member-content .member-content-wrapper .nav .exit {
  height: 50px;
  line-height: 50px;
  width: 100%;
  color: #ffffff;
  padding-left: 55px;
  background: url("i/i-exit.png") no-repeat 30px #00609c;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}
.member-content .member-content-wrapper .main-content {
  width: 977px;
  margin-left: 20px;
  margin-top: 12px;
  border: 1px solid #cccccc;
  border-top: 2px solid #0078c3;
  float: left;
  background: #ffffff;
}
.member-content .member-content-wrapper .news-index-content .tab {
  margin: 30px 0 15px;
}
.member-content .member-content-wrapper .news-index-content .tab a {
  display: inline-block;
  background-color: #b4b4b4;
  color: #fff;
  font-size: 14px;
  line-height: 2;
  margin-right: 20px;
  padding: 0 5px;
}
.member-content .member-content-wrapper .news-index-content .tab a.current {
  background-color: #03b2eb;
}
.member-content .member-content-wrapper .news-index-content .news-box .item {
  float: left;
  padding: 20px;
  height: 200px;
  width: 370px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-right: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}
.member-content .member-content-wrapper .news-index-content .news-box .item:hover {
  background-color: #e5f6fc;
}
.member-content .member-content-wrapper .news-index-content .news-box .item .time {
  font-size: 18px;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.member-content .member-content-wrapper .news-index-content .news-box .item .title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.member-content .member-content-wrapper .news-index-content .news-box .item .txt {
  font-size: 12px;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.member-content .member-content-wrapper .news-index-content .news-nav {
  width: 100px;
  float: left;
  margin-top: 30px;
  margin-right: 15px;
  border: 1px solid #ccc;
}
.member-content .member-content-wrapper .news-index-content .news-nav a {
  display: block;
  padding: 35px 30px;
  font-size: 18px;
  color: #017ec0;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}
.member-content .member-content-wrapper .news-index-content .news-nav a.current {
  color: #fff;
  background-color: #017ec0;
}
.member-content .member-content-wrapper .news-index-content .news-detail-main {
  margin-top: 30px;
  border: 1px solid #ccc;
  float: left;
  background-color: #fff;
  width: 1084px;
}
.member-content .member-content-wrapper .news-index-content .news-detail-main .title {
  font-size: 24px;
  text-align: center;
  margin: 50px 0;
}
.member-content .member-content-wrapper .news-index-content .news-detail-main .date {
  line-height: 2;
  background-color: #eee;
  color: #999;
  text-align: center;
}
.member-content .member-content-wrapper .news-index-content .news-detail-main .date .blacktxt {
  color: #5d5d5d;
}
.member-content .member-content-wrapper .news-index-content .news-detail-main .img-area {
  margin-top: 30px;
  text-align: center;
}
.member-content .member-content-wrapper .news-index-content .news-detail-main .img-area img {
  max-width: 100%;
}
.member-content .member-content-wrapper .news-index-content .news-detail-main .img-area .info {
  margin-top: 20px;
  font-size: 12px;
  color: #999;
}
.member-content .member-content-wrapper .news-index-content .news-detail-main .news-txt {
  padding: 0 50px;
  margin-top: 50px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
}
.member-content .member-content-wrapper .news-index-content .news-detail-main .news-txt p {
  text-indent: 20px;
  margin-bottom: 40px;
  line-height: 2;
  font-size: 14px;
  color: #999;
}
.member-content .member-content-wrapper .news-index-content .news-detail-main .related {
  margin: 25px;
}
.member-content .member-content-wrapper .news-index-content .news-detail-main .related .related-title {
  margin-bottom: 30px;
  font-size: 18px;
}
.member-content .member-content-wrapper .news-index-content .news-detail-main .related .related-img-area {
  width: 460px;
  height: 300px;
  float: left;
  margin-right: 25px;
}
.member-content .member-content-wrapper .news-index-content .news-detail-main .related .related-img-area img {
  height: 100%;
  width: 100%;
}
.member-content .member-content-wrapper .news-index-content .news-detail-main .related .related-news {
  float: left;
  width: 500px;
  line-height: 2;
}
.member-content .member-content-wrapper .news-index-content .news-detail-main .related .related-news label {
  font-size: 14px;
  color: #999;
}
.member-content .member-content-wrapper .news-index-content .news-detail-main .related .related-news a {
  font-size: 14px;
  color: #5d5d5d;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 400px;
  vertical-align: bottom;
}
.member-footer {
  width: 100%;
  margin-top: 30px;
  border-top: 1px solid #cccccc;
  background-color: #ffffff;
}
.member-footer .member-footer-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 20px;
}
.member-footer .member-footer-wrapper .footer-part1 {
  width: 566px;
  height: 192px;
  float: left;
}
.member-footer .member-footer-wrapper .footer-part1 .item {
  float: left;
  width: 33%;
  text-align: center;
}
.member-footer .member-footer-wrapper .footer-part1 .item .title {
  font-size: 16px;
  margin-top: 50px;
}
.member-footer .member-footer-wrapper .footer-part1 .item .title.home {
  background: url("i/i-home.png") no-repeat 30px;
}
.member-footer .member-footer-wrapper .footer-part1 .item .title.news {
  background: url("i/i-light.png") no-repeat 30px;
}
.member-footer .member-footer-wrapper .footer-part1 .item .title.about {
  background: url("i/i-man.png") no-repeat 30px;
}
.member-footer .member-footer-wrapper .footer-part1 .item ul {
  margin-top: 25px;
}
.member-footer .member-footer-wrapper .footer-part1 .item ul li {
  color: #abb2ba;
  font-size: 14px;
  line-height: 2;
}
.member-footer .member-footer-wrapper .footer-part1 .item ul li a {
  color: #abb2ba;
  font-size: 14px;
}
.member-footer .member-footer-wrapper .footer-part2 {
  height: 132px;
  width: 300px;
  float: left;
  margin-top: 50px;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
.member-footer .member-footer-wrapper .footer-part2 .qrcode {
  width: 50%;
  float: left;
  text-align: center;
}
.member-footer .member-footer-wrapper .footer-part2 .qrcode .img-area {
  width: 92px;
  height: 92px;
  margin: 0 auto;
}
.member-footer .member-footer-wrapper .footer-part2 .qrcode .img-area img {
  height: 100%;
  width: 100%;
}
.member-footer .member-footer-wrapper .footer-part2 .qrcode p {
  font-size: 14px;
  color: #abb2ba;
  line-height: 3;
}
.member-footer .member-footer-wrapper .footer-part3 {
  float: right;
  text-align: right;
  margin-top: 47px;
}
.member-footer .member-footer-wrapper .footer-part3 p {
  font-size: 14px;
  color: #abb2ba;
}
.member-footer .member-footer-wrapper .footer-part3 i {
  font-size: 24px;
  color: #0078c3;
  display: block;
}
.member-footer .member-footer-wrapper .footer-part3 ul {
  width: 125px;
  float: right;
}
.member-footer .member-footer-wrapper .footer-part3 ul li {
  width: 35px;
  height: 35px;
  float: left;
  margin-left: 5px;
}
.member-footer .member-footer-wrapper .footer-part3 ul li.weibo {
  background: url("i/i-footer1.png") no-repeat center;
}
.member-footer .member-footer-wrapper .footer-part3 ul li.wechat {
  background: url("i/i-footer2.png") no-repeat center;
}
.member-footer .member-footer-wrapper .footer-part3 ul li.qq {
  background: url("i/i-footer3.png") no-repeat center;
}
.member-footer .member-footer-wrapper .footer-part4 {
  width: 100%;
}
.member-footer .member-footer-wrapper .footer-part4 .copyright {
  font-size: 12px;
  color: #abb2ba;
  width: 335px;
  float: left;
}
.member-footer .member-footer-wrapper .footer-part4 .img-area {
  width: 792px;
  height: 43px;
  float: right;
}
.member-footer .member-footer-wrapper .footer-part4 .img-area img {
  height: 100%;
  width: 100%;
}
.member-footer .links {
  height: 54px;
  line-height: 54px;
  background-color: #e5e5e5;
}
.member-footer .links p {
  width: 1200px;
  margin: 0 auto;
  font-size: 12px;
  color: #8a949f;
}
.member-footer .links p a {
  padding-left: 5px;
  color: #8a949f;
}
.float-block {
  position: fixed;
  top: 400px;
  right: 50px;
  width: 66px;
  height: 417px;
  background-color: #ffffff;
  box-shadow: 0px 1px 10px 3px #cccccc;
}
.float-block ul li {
  height: 77px;
  border-bottom: 1px solid #ededed;
  font-size: 12px;
  padding-top: 50px;
  color: #4467a7;
  text-align: center;
  cursor: pointer;
}
.float-block ul li.top {
  background: url("i/i-float1.png") no-repeat center 15px;
}
.float-block ul li.my {
  background: url("i/i-float2.png") no-repeat center 15px;
}
.float-block ul li.wechat {
  background: url("i/i-float3.png") no-repeat center 15px;
}
.float-block ul li.app {
  background: url("i/i-float4.png") no-repeat center 15px;
}
.float-block ul li.gm {
  background: url("i/i-float5.png") no-repeat center 15px #4467a7;
  color: #ffffff;
}
.float-block .close {
  margin: 3px 0 0 18px;
  height: 26px;
  width: 26px;
  cursor: pointer;
  padding: 0 0 0 5px;
}
.float-block .close .close_css {
  position: relative;
  width: 3px;
  left: 6px;
  top: 5px;
  height: 18px;
  background: #4467a7;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.float-block .close .close_css:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 18px;
  background: #4467a7;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.page_area {
  margin: 15px 0;
}
.page_index {
  width: 460px;
  margin: 0 auto;
  height: 30px;
  color: #5d5d5d;
}
.page_index ul {
  display: inline-block;
}
.page_index ul li {
  float: left;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 3px;
  position: relative;
  text-align: center;
  margin: 0 2.5px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  cursor: pointer;
}
.page_index ul li.current {
  border: 1px solid #ff8d02;
  color: #ff8d02;
}
.page_index ul li:first-child:before {
  content: "";
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 7px solid #cccccc;
  position: absolute;
  top: 8px;
  left: 8px;
}
.page_index ul li:last-child:before {
  content: "";
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 7px solid #cccccc;
  position: absolute;
  top: 8px;
  left: 8px;
}
.page_index .page_skip {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  vertical-align: top;
  margin: 0 30px;
}
.page_index .page_skip input {
  width: 48px!important;
  height: 24px!important;
  line-height: 24px!important;
  border: 1px solid #cccccc!important;
  border-radius: 3px!important;
  text-align: center!important;
}
.page_index .topage {
  display: inline-block;
  vertical-align: top;
  line-height: 24px;
  height: 24px;
  width: 48px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #cccccc;
  color: #5d5d5d;
  background-color: #ffffff;
  border-radius: 3px;
}
.page_index .topage a {
  color: #5d5d5d!important;
}
.index-banner {
  overflow-x: hidden;
  max-width: 100%;
  position: relative;
}
.index-banner ul li {
  float: left;
}
.index-banner .banner_point {
  text-align: center;
  width: 108px;
  bottom: 10px;
  position: absolute;
  left: 50%;
}
.index-banner .banner_point span {
  width: 12px;
  height: 12px;
  margin: 0 8px;
  display: block;
  float: left;
  background: #ffffff;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
.index-banner .banner_point span.active {
  background: #f97700;
}
.index-content .index-number {
  width: 100%;
  background-color: #f8f9fa;
}
.index-content .index-number ul {
  width: 1200px;
  height: 160px;
  margin: 0 auto;
}
.index-content .index-number ul li {
  width: 25%;
  height: 100%;
  float: left;
}
.index-content .index-number ul li i {
  float: left;
  display: block;
  height: 100%;
  width: 110px;
}
.index-content .index-number ul li:nth-child(1) i {
  background: url('i/icon_1.png') no-repeat left;
}
.index-content .index-number ul li:nth-child(2) i {
  background: url('i/icon_2.png') no-repeat left;
}
.index-content .index-number ul li:nth-child(3) i {
  background: url('i/icon_3.png') no-repeat left;
}
.index-content .index-number ul li:nth-child(4) i {
  background: url('i/icon_4.png') no-repeat left;
}
.index-content .index-number ul li .num {
  font-size: 14px;
  margin-top: 43px;
  float: left;
  width: 180px;
  text-align: center;
}
.index-content .index-number ul li .num span {
  font-size: 28px;
  color: #f17203;
}
.index-content .index-number ul li .txt {
  line-height: 2;
  float: left;
  width: 180px;
  text-align: center;
  font-size: 20px;
}
.index-shortcut {
  background-color: #ffffff;
  width: 100%;
}
.index-shortcut ul {
  width: 1200px;
  margin: 0 auto;
  height: 140px;
  padding: 17px 0;
}
.index-shortcut ul li {
  float: left;
  width: 25%;
  height: 100%;
  border-right: 1px solid #cccccc;
  position: relative;
}
.index-shortcut ul li i {
  float: left;
  display: block;
  height: 100%;
  width: 120px;
}
.index-shortcut ul li:nth-child(1) i {
  background: url('i/icon_5.png') no-repeat right;
}
.index-shortcut ul li:nth-child(2) i {
  background: url('i/icon_5.png') no-repeat right;
}
.index-shortcut ul li:nth-child(3) i {
  background: url('i/icon_6.png') no-repeat right;
}
.index-shortcut ul li:nth-child(4) {
  border-right: none;
}
.index-shortcut ul li:nth-child(4) i {
  background: url('i/icon_7.png') no-repeat right;
}
.index-shortcut ul li .title {
  font-size: 16px;
  line-height: 3.5;
}
.index-shortcut ul li .txt {
  font-size: 12px;
  display: block;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #5d5d5d;
  float: left;
}
.index-shortcut ul li .login-signup {
  float: left;
  margin-top: 37px;
  font-size: 16px;
}
.index-shortcut ul li .login-signup a {
  color: #5d5d5d;
}
.index-shortcut ul li .bignum {
  font-size: 24px;
  float: left;
}
.index-shortcut .handler-trangle {
  position: absolute;
  right: 28px;
}
.index-shortcut .handler-trangle i {
  width: 28px;
  height: 24px;
  margin-right: 10px;
  display: block;
  float: left;
  cursor: pointer;
}
.index-shortcut .handler-trangle i.i-left {
  background: url("i/i-left.png") no-repeat center;
}
.index-shortcut .handler-trangle i.i-right {
  background: url("i/i-right.png") no-repeat center;
}
.index-contract {
  width: 100%;
  background-color: #f8f9fa;
  overflow: hidden;
}
.index-contract .index-title {
  height: 80px;
  width: 100%;
  margin-top: 50px;
  background: url('i/title_1.jpg') no-repeat center;
}
.index-contract .index-contract-content {
  width: 1200px;
  margin: 42px auto 70px auto;
}
.index-contract .index-contract-content i {
  width: 268px;
  height: 299px;
  display: block;
  float: left;
  margin: -80px 17px 17px -40px;
  background: url('i/icon_8.png') no-repeat center;
}
.index-contract .index-contract-content .c1 {
  background-color: #0076c1;
}
.index-contract .index-contract-content .c2 {
  background-color: #0297b6;
}
.index-contract .index-contract-content .c3 {
  background-color: #40c8ae;
}
.index-contract .index-contract-content .c4 {
  background-color: #69c846;
}
.index-contract .index-contract-content .c5 {
  background-color: #ee7207;
}
.index-contract .index-contract-content .date {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 15px;
}
.index-contract .index-contract-content .txt {
  font-size: 14px;
  color: #ffffff;
}
.index-contract .index-contract-content .tag {
  font-size: 14px;
  color: #ffffff;
  opacity: 0.8;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.index-contract .index-contract-content .small-div {
  position: relative;
  height: 220px;
  width: 225px;
  margin: 0 17px 17px 0;
  border-radius: 10px;
  float: left;
  padding: 25px 10px 10px 25px;
}
.index-contract .index-contract-content .med-div {
  position: relative;
  margin: 0 17px 17px 0;
  border-radius: 10px;
  float: left;
  height: 220px;
  width: 454px;
  padding: 25px 10px 10px 25px;
}
.index-contract .index-contract-content .big-div {
  position: relative;
  margin: 0 17px 17px 0;
  border-radius: 10px;
  float: left;
  padding: 25px 10px 10px 25px;
  height: 220px;
  width: 470px;
  background-color: #40c8ae;
}
.index-asset {
  background-color: #ffffff;
  width: 100%;
  padding: 80px 0 60px;
}
.index-asset .index-title {
  height: 80px;
  width: 100%;
  position: relative;
  background: url('i/title_2.png') no-repeat center;
}
.index-asset .index-title:before {
  content: '';
  display: block;
  position: absolute;
  height: 128px;
  width: 110px;
  top: -125px;
  left: 50%;
  margin-left: -55px;
  background: url('i/icon_9.png') no-repeat center;
}
.index-asset .asset-table {
  width: 1281px;
  margin: -85px auto 0 auto;
  padding: 0 40px;
  font-size: 16px;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  position: relative;
  background: url('i/SSETLIST_bg.png') no-repeat 0 14px;
}
.index-asset .asset-table tbody tr {
  line-height: 3;
}
.index-asset .asset-table tbody .theader {
  color: #ffffff;
  height: 159px;
  vertical-align: bottom;
}
.index-asset .asset-table tbody .num {
  font-size: 24px;
  color: #ee7207;
}
.index-asset .check-more-btn {
  height: 48px;
  line-height: 48px;
  width: 150px;
  margin: 40px auto;
  background: url('i/icon_10.png') no-repeat 100px #ee7207;
  padding-left: 30px;
  color: #ffffff;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}
.index-asset .check-more-btn a {
  display: block;
  color: #ffffff;
}
.index-strengths {
  background-color: #f8f9fa;
  width: 100%;
  padding: 75px 0 80px;
}
.index-strengths .index-title {
  height: 80px;
  width: 100%;
  position: relative;
  background: url('i/title_3.png') no-repeat center;
}
.index-strengths .index-strengths-wrapper {
  width: 1200px;
  margin: 0 auto;
}
.index-strengths .index-strengths-wrapper .content .item {
  margin-left: 30px;
  margin-bottom: 30px;
  padding-right: 25px;
  height: 160px;
  width: 370px;
  float: left;
  background-color: #ffffff;
  color: #5d5d5d;
  border: 1px solid #cccccc;
}
.index-strengths .index-strengths-wrapper .content .item:hover {
  background-color: #0078c3;
  color: #ffffff;
}
.index-strengths .index-strengths-wrapper .content .item:hover .title:after {
  background-color: #ffffff;
}
.index-strengths .index-strengths-wrapper .content .item i {
  float: left;
  display: block;
  height: 100%;
  width: 80px;
}
.index-strengths .index-strengths-wrapper .content .item:nth-child(1) i {
  background: url('i/icon_11.png') no-repeat right;
  background-size: 60px;
}
.index-strengths .index-strengths-wrapper .content .item:nth-child(2) i {
  background: url('i/icon_12-1.png') no-repeat right;
  background-size: 60px;
}
.index-strengths .index-strengths-wrapper .content .item:nth-child(2):hover i {
  background: url('i/icon_12.png') no-repeat right;
  background-size: 60px;
}
.index-strengths .index-strengths-wrapper .content .item:nth-child(3) i {
  background: url('i/icon_13.png') no-repeat right;
  background-size: 60px;
}
.index-strengths .index-strengths-wrapper .content .item:nth-child(4) i {
  background: url('i/icon_14.png') no-repeat right;
  background-size: 60px;
}
.index-strengths .index-strengths-wrapper .content .item:nth-child(5) i {
  background: url('i/icon_15.png') no-repeat right;
  background-size: 60px;
}
.index-strengths .index-strengths-wrapper .content .item:nth-child(6) i {
  background: url('i/icon_16.png') no-repeat right;
  background-size: 60px;
}
.index-strengths .index-strengths-wrapper .content .item .title {
  float: left;
  margin-top: 30px;
  margin-left: 10px;
  line-height: 1.5;
}
.index-strengths .index-strengths-wrapper .content .item .title .cn {
  font-size: 16px;
}
.index-strengths .index-strengths-wrapper .content .item .title .en {
  font-size: 12px;
}
.index-strengths .index-strengths-wrapper .content .item .title:after {
  content: '';
  display: block;
  height: 2px;
  width: 50px;
  background-color: #a0a0a0;
  margin-top: 10px;
}
.index-strengths .index-strengths-wrapper .content .item .txt {
  font-size: 12px;
  line-height: 1.5;
  width: 250px;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}
.index-strengths .strengths-bar {
  width: 172px;
  height: 5px;
  margin: 55px auto;
}
.index-strengths .strengths-bar span {
  width: 50px;
  height: 3px;
  background-color: #ccc;
  display: inline-block;
  cursor: pointer;
}
.index-strengths .strengths-bar span:nth-child(2) {
  margin: 0 5px;
}
.index-strengths .strengths-bar span.current {
  background-color: #0078c3;
}
.index-expert {
  background-color: #ffffff;
  width: 100%;
  padding: 75px 0 80px;
}
.index-expert .index-title {
  height: 80px;
  width: 100%;
  position: relative;
  background: url('i/title_4.png') no-repeat center;
}
.index-expert .choose-btn {
  width: 280px;
  margin: 0 auto;
}
.index-expert .choose-btn .btn {
  height: 30px;
  line-height: 30px;
  width: 120px;
  margin: 20px auto;
  background: url('i/icon_10-1.png') no-repeat 85px #e7e7e7;
  background-size: 18px;
  padding-left: 15px;
  color: #5d5d5d;
  font-size: 16px;
  border-radius: 15px;
  float: left;
  cursor: pointer;
  margin-left: 15px;
}
.index-expert .choose-btn .btn.active {
  background: url('i/icon_10.png') no-repeat 85px #ee7207;
  color: #ffffff;
}
.index-expert .choose-btn .btn a {
  display: block;
  color: #ffffff;
}
.index-expert .person-list {
  width: 1200px;
  margin: 0 auto;
}
.index-expert .person-list .item {
  height: 380px;
  width: 220px;
  float: left;
  margin-right: 20px;
  border: 1px solid #cccccc;
}
.index-expert .person-list .item .photo {
  height: 160px;
  width: 160px;
  margin: 30px;
  border-radius: 50%;
  overflow: hidden;
}
.index-expert .person-list .item .name {
  text-align: center;
  line-height: 1.5;
}
.index-expert .person-list .item .name .cn {
  font-size: 16px;
}
.index-expert .person-list .item .name .en {
  font-size: 12px;
  color: #333333;
}
.index-expert .person-list .item .name .person-title {
  font-size: 12px;
}
.index-expert .person-list .item .name .person-title:before {
  content: '';
  position: relative;
  margin: 0 auto;
  display: block;
  width: 10px;
  height: 2px;
  background-color: #a0a0a0;
}
.index-expert .person-list .item .show {
  margin-top: 40px;
}
.index-expert .person-list .item .show p {
  width: 50%;
  float: left;
  text-align: center;
}
.index-expert .person-list .item .show p span {
  display: block;
}
.index-expert .person-list .item .show p .txt {
  font-size: 12px;
}
.index-expert .person-list .item .show p .num {
  font-size: 18px;
  color: #ee7207;
}
.index-expert .expert-bar {
  text-align: center;
  width: 120px;
  height: 15px;
  margin: 25px auto 0;
}
.index-expert .expert-bar span {
  width: 12px;
  height: 12px;
  margin: 0 8px;
  display: block;
  float: left;
  background: #a0a0a0;
  cursor: pointer;
  border-radius: 50%;
}
.index-expert .expert-bar span.current {
  background: #f97700;
  position: relative;
}
.index-expert .expert-bar span.current:after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border: 1px solid #f97700;
  border-radius: 50%;
  top: -4px;
  left: -4px;
}
.index-news {
  background-color: #f8f9fa;
  padding: 38px 0;
}
.index-news .index-new-wrapper {
  width: 1200px;
  margin: 0 auto;
  border: 1px solid #cccccc;
}
.index-news .index-new-wrapper .title {
  font-size: 16px;
  font-weight: bold;
  padding-left: 13px;
  line-height: 3;
  border-bottom: 1px solid #cccccc;
}
.index-news .index-new-wrapper .item1 {
  float: left;
  width: 560px;
  height: 228px;
  border-right: 1px solid #cccccc;
  padding: 30px 55px 45px 55px;
  background-color: #ffffff;
}
.index-news .index-new-wrapper .item1 .part1 {
  width: 50%;
  float: left;
  padding-right: 25px;
}
.index-news .index-new-wrapper .item1 .part1 .img-area {
  height: 80px;
  width: 200px;
  margin-bottom: 15px;
}
.index-news .index-new-wrapper .item1 .part1 .img-area img {
  width: 100%;
  height: 100%;
}
.index-news .index-new-wrapper .item1 .part1 .news-title {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.index-news .index-new-wrapper .item1 .part1 .news-txt {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.index-news .index-new-wrapper .item2 {
  float: left;
  width: 290px;
  height: 228px;
  border-right: 1px solid #cccccc;
  border-left: none;
  background-color: #ffffff;
}
.index-news .index-new-wrapper .item2 .news-list {
  padding: 15px 30px 0;
}
.index-news .index-new-wrapper .item2 .news-list p {
  height: 20px;
  line-height: 20px;
}
.index-news .index-new-wrapper .item2 .news-list p .main-title {
  font-size: 14px;
  font-weight: bold;
}
.index-news .index-new-wrapper .item2 .news-list p a {
  float: right;
  display: block;
  font-size: 12px;
}
.index-news .index-new-wrapper .item2 .news-list .list {
  line-height: 2;
}
.index-news .index-new-wrapper .item2 .news-list .list a {
  display: block;
  color: #5d5d5d;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 10px;
}
.index-news .index-new-wrapper .item2 .news-list .list a:before {
  content: "o";
  display: inline-block;
  width: 15px;
}
.index-news .index-new-wrapper .item3 {
  height: 228px;
  width: 348px;
  float: left;
  background-color: #ffffff;
}
.index-news .index-new-wrapper .item3 .img-area {
  width: 300px;
  height: 195px;
  margin: 20px;
}
.index-news .index-new-wrapper .item3 .img-area img {
  height: 100%;
  width: 100%;
}
.index-cooperation {
  background-color: #f8f9fa;
}
.index-cooperation .cooperation-wrapper {
  width: 1200px;
  margin: 0 auto;
}
.index-cooperation .cooperation-wrapper .title {
  font-size: 16px;
  font-weight: bold;
  padding-left: 40px;
  background: url("i/icon_17.png") no-repeat left;
  line-height: 3;
  border-bottom: 1px solid #cccccc;
}
.index-cooperation .cooperation-wrapper ul li {
  float: left;
  width: 180px;
  height: 80px;
  margin-right: 20px;
  margin-top: 20px;
}
.index-cooperation .cooperation-wrapper ul li img {
  height: 100%;
  width: 100%;
}
.login-wrapper {
  height: 100%;
  width: 100%;
  background: url('i/login-bg.jpg') no-repeat center;
  position: relative;
}
.login-wrapper .login-input {
  height: 554px;
  width: 474px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -237px;
  margin-top: -277px;
  background: url('i/i-login-bg.png') no-repeat center;
}
.login-wrapper .login-input .slogan {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding-top: 170px;
}
.login-wrapper .login-input .sign-in-input {
  width: 380px;
  margin: 0 auto;
}
.login-wrapper .login-input .sign-in-input input {
  height: 43px;
  border-radius: 3px;
  border: 1px solid #c9c9c9;
  margin: 13px 0;
  width: 100%;
  padding-left: 43px;
}
.login-wrapper .login-input .sign-in-input input.username {
  margin-top: 43px;
  background: url("i/i-username.png") no-repeat 7px;
}
.login-wrapper .login-input .sign-in-input input.pwd {
  background: url("i/i-pwd.png") no-repeat 7px;
}
.login-wrapper .login-input .sign-in-input input.icode {
  width: 245px;
  background: url("i/i-icode.png") no-repeat 7px;
}
.login-wrapper .login-input .sign-in-input .code-img {
  float: right;
  margin-top: 13px;
  width: 120px;
  height: 43px;
}
.login-wrapper .login-input .sign-in-input .sign-in-btn {
  text-align: center;
  width: 100%;
  border-radius: 3px;
  color: #ffffff;
  background-color: #0078c3;
  height: 43px;
  line-height: 43px;
  cursor: pointer;
}
.login-wrapper .login-input .to-sign {
  font-size: 12px;
  text-align: right;
  width: 380px;
  margin: 18px auto 0;
}
.login-wrapper .login-input .to-sign a {
  color: #0078c3;
}
.login-wrapper .login-input .to-sign .tel {
  background: url("i/i-tel.png") no-repeat left;
  background-size: 18px;
  color: #ee7207;
  font-size: 16px;
  float: left;
  padding-left: 25px;
}
.login-wrapper .login-footer {
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 12px;
  position: absolute;
  bottom: 50px;
}
.aboutus-content {
  padding: 30px 25px;
  font-size: 14px;
  color: #666;
  line-height: 2;
}
.aboutus-content .about-txt {
  margin: 10px 0;
  text-indent: 28px;
}
.aboutus-content .aboutus-img {
  margin-bottom: 20px;
}
.aboutus-content .aboutus-img img {
  height: 80px;
  width: 500px;
  margin-right: 15px;
  margin-top: 30px;
  float: left;
}
.aboutus-content .show-person-list {
  margin-top: 80px;
  text-align: center;
  position: relative;
}
.aboutus-content .show-person-list .handler-trangle {
  position: absolute;
  right: 28px;
}
.aboutus-content .show-person-list .handler-trangle i {
  width: 28px;
  height: 24px;
  margin-right: 10px;
  display: block;
  float: left;
  cursor: pointer;
}
.aboutus-content .show-person-list .handler-trangle i.i-left {
  background: url("i/i-left.png") no-repeat center;
}
.aboutus-content .show-person-list .handler-trangle i.i-right {
  background: url("i/i-right.png") no-repeat center;
}
.aboutus-content .show-person-list .person-list-title {
  color: #017ec0;
  font-size: 18px;
  text-align: left;
}
.aboutus-content .show-person-list .item {
  width: 220px;
  float: left;
  margin-right: 38px;
  border: 1px solid #cccccc;
}
.aboutus-content .show-person-list .item .photo {
  height: 160px;
  width: 160px;
  margin: 30px;
  border-radius: 50%;
  overflow: hidden;
}
.aboutus-content .show-person-list .item .photo img {
  display: block;
}
.aboutus-content .show-person-list .item .name {
  text-align: center;
  line-height: 1.5;
}
.aboutus-content .show-person-list .item .name .cn {
  font-size: 16px;
}
.aboutus-content .show-person-list .item .name .en {
  font-size: 12px;
  color: #333333;
}
.aboutus-content .show-person-list .item .name .person-title {
  font-size: 12px;
}
.aboutus-content .show-person-list .item .name .person-title:before {
  content: '';
  position: relative;
  margin: 5px auto;
  display: block;
  width: 10px;
  height: 2px;
  background-color: #a0a0a0;
}
.aboutus-content .show-person-list .item .show {
  margin-top: 40px;
}
.aboutus-content .show-person-list .item .show p {
  width: 50%;
  float: left;
  text-align: center;
}
.aboutus-content .show-person-list .item .show p span {
  display: block;
}
.aboutus-content .show-person-list .item .show p .txt {
  font-size: 12px;
}
.aboutus-content .show-person-list .item .show p .num {
  font-size: 18px;
  color: #ee7207;
}
.contactus-content {
  padding: 55px 34px;
}
.contactus-content .info-list li {
  float: left;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #f5f5f5;
  margin-right: 70px;
  font-size: 18px;
  padding-top: 95px;
  text-align: center;
}
.contactus-content .info-list li:nth-child(1) {
  background: url("i/icon_18.png") no-repeat center 33px #f5f5f5;
}
.contactus-content .info-list li:nth-child(2) {
  background: url("i/icon_19.png") no-repeat center 55px #f5f5f5;
}
.contactus-content .info-list li:nth-child(3) {
  background: url("i/icon_20.png") no-repeat center 44px #f5f5f5;
}
.contactus-content .info-list li:nth-child(4) {
  margin-right: 0;
  background: url("i/icon_21.png") no-repeat center 45px #f5f5f5;
}
.contactus-content .map-box {
  width: 100%;
  height: 500px;
  margin-top: 50px;
}
.contactus-content .map-box #allmap {
  width: 100%;
  height: 100%;
}
.jobs-content {
  padding: 34px;
}
.jobs-content .choose-jobs {
  line-height: 3;
  font-size: 14px;
}
.jobs-content .choose-jobs label {
  width: 85px;
  display: inline-block;
  text-align: center;
}
.jobs-content .choose-jobs span {
  margin-right: 5px;
  padding: 8px 20px;
  border-radius: 3px;
  text-align: center;
}
.jobs-content .choose-jobs span.current {
  background-color: #ff6634;
  color: #fff;
}
.jobs-content .jobs-info {
  margin-top: 20px;
}
.jobs-content .jobs-info .item {
  height: 140px;
  box-sizing: border-box;
  border-top: 1px solid #ddd;
  padding: 30px 0 35px 20px;
  border-left: 5px solid #fff;
}
.jobs-content .jobs-info .item .jobs-name {
  color: #017ec0;
  font-size: 20px;
}
.jobs-content .jobs-info .item .jobs-name .jobs-time {
  font-size: 14px;
  float: right;
  color: #5d5d5d;
  margin-right: 20px;
}
.jobs-content .jobs-info .item .jobs-detail {
  margin-top: 20px;
  font-size: 14px;
}
.jobs-content .jobs-info .item:hover {
  background-color: #f8f8f8;
  border-left: 5px solid #03b2eb;
}
.feedback-content {
  padding: 40px 30px 50px 30px;
}
.feedback-content .desc {
  height: 85px;
  padding-top: 35px;
  border-bottom: 1px dashed #ddd;
  background: url("i/icon_pen.jpg") no-repeat right bottom;
}
.feedback-content .desc .small-txt {
  font-size: 12px;
  line-height: 1.5;
}
.feedback-content .feedback-input {
  margin-top: 50px;
  color: #a3a3a3;
}
.feedback-content .feedback-input p {
  margin-bottom: 20px;
}
.feedback-content .feedback-input label {
  width: 50px;
  margin-right: 10px;
  text-align: right;
  font-size: 14px;
  vertical-align: top;
}
.feedback-content .feedback-input input {
  border: 1px solid #ccc;
  height: 30px;
  width: 260px;
  padding-left: 10px;
}
.feedback-content .feedback-input textarea {
  height: 225px;
  width: 600px;
  border: 1px solid #ccc;
  resize: none;
}
.feedback-content .feedback-input .tips {
  font-size: 12px;
  margin-left: 10px;
}
.feedback-content .feedback-input .submit-btn {
  width: 77px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  font-size: 14px;
  background-color: #0376b2;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  margin-top: 24px;
  margin-left: 56px;
}
.help-content {
  margin-top: 20px;
}
.help-content .help-nav {
  float: left;
  width: 238px;
  background-color: #fff;
  font-size: 16px;
  line-height: 3.3;
  border: 1px solid #ccc;
}
.help-content .help-nav ul li {
  padding-left: 20px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
.help-content .help-nav ul li.current {
  background-color: #017ec0;
  color: #fff;
}
.help-content .help-main {
  width: 960px;
  float: left;
  background-color: #fff;
  padding: 35px;
  border: 1px solid #ccc;
}
.help-content .help-main .help-title {
  font-size: 18px;
  line-height: 3;
  border-bottom: 1px solid #ccc;
}
.help-content .help-main .qa-list {
  margin-top: 20px;
}
.help-content .help-main .qa-list ul li {
  height: 60px;
  line-height: 60px;
  padding-left: 25px;
  border-bottom: 1px dashed #ccc;
  position: relative;
}
.help-content .help-main .qa-list ul li:before {
  content: '';
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 1px solid #017ec0;
  position: absolute;
  left: 0;
  top: 25px;
}
.app-header {
  width: 100%;
  height: 80px;
  background-color: #017ec0;
  color: #fff;
}
.app-header .app-header-wrapper {
  width: 1200px;
  margin: 0 auto;
}
.app-header .app-header-wrapper .app-logo {
  width: 323px;
  height: 80px;
  float: left;
  background: url("i/app-logo.png") no-repeat center;
}
.app-header .app-header-wrapper .app-tel {
  float: right;
  margin-top: 20px;
  height: 44px;
  width: 215px;
  background: url("i/app-tel.png") no-repeat left;
  padding-left: 35px;
}
.app-header .app-header-wrapper .app-tel p {
  font-size: 14px;
}
.app-header .app-header-wrapper .app-tel i {
  font-size: 24px;
}
.app-content {
  width: 100%;
}
.app-content .short-bar {
  position: fixed;
  left: 120px;
  height: 300px;
  top: 50px;
  width: 20px;
  z-index: 99;
}
.app-content .short-bar i {
  height: 300px;
  display: block;
  width: 2px;
  border-left: 1px solid #017ec0;
}
.app-content .short-bar a {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: #017ec0;
  cursor: pointer;
  position: absolute;
  left: -7px;
  z-index: 100;
}
.app-content .short-bar a#a-bg1 {
  top: 20px;
}
.app-content .short-bar a#a-bg2 {
  top: 65px;
}
.app-content .short-bar a#a-bg3 {
  top: 115px;
}
.app-content .short-bar a#a-bg4 {
  top: 165px;
}
.app-content .short-bar a#a-bg5 {
  top: 215px;
}
.app-content .short-bar a#a-bg6 {
  top: 265px;
}
.app-content .short-bar a.current,
.app-content .short-bar a:hover {
  background-color: #f97700;
}
.app-content .bg1 {
  height: 813px;
  background: url("i/app-bg1.jpg") no-repeat center;
  position: relative;
}
.app-content .bg1 .qrcode-wrapper {
  width: 425px;
  height: 600px;
  position: absolute;
  right: 110px;
  top: 166px;
}
.app-content .bg1 .qrcode-wrapper .bigtxt {
  text-align: center;
  background: url("i/f1.png") no-repeat repeat;
  height: 56px;
  width: 419px;
}
.app-content .bg1 .qrcode-wrapper .img-area {
  text-align: center;
  margin-top: 55px;
}
.app-content .bg1 .qrcode-wrapper .img-area img {
  height: 230px;
  width: 230px;
}
.app-content .bg1 .qrcode-wrapper .smalltxt {
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
  color: #fff;
}
.app-content .bg1 .qrcode-wrapper .btn-area {
  margin: 76px auto 0 auto;
  width: 228px;
}
.app-content .bg1 .qrcode-wrapper .btn-area .apple {
  background: url("i/app-apple.png") no-repeat center;
  height: 52px;
  width: 228px;
  cursor: pointer;
  display: block;
}
.app-content .bg1 .qrcode-wrapper .btn-area .android {
  background: url("i/app-android.jpg") no-repeat center;
  height: 52px;
  width: 228px;
  cursor: pointer;
  display: block;
  margin-top: 22px;
}
.app-content .bg2 {
  background: url("i/app-bg2.jpg") no-repeat center;
  width: 100%;
  height: 765px;
  position: relative;
}
.app-content .bg2 .txt-area {
  width: 1200px;
  position: absolute;
  margin-left: -600px;
  left: 50%;
  top: 280px;
}
.app-content .bg2 .txt-area .txt1 {
  font-size: 72px;
  color: #19303b;
}
.app-content .bg2 .txt-area .txt2 {
  font-size: 34px;
  color: #19303b;
  line-height: 2;
}
.app-content .bg2 .txt-area .tel {
  font-size: 12px;
  color: #ff6634;
  margin-top: 45px;
  text-align: right;
  padding-right: 147px;
  font-weight: bold;
}
.app-content .bg3 {
  background: url("i/app-bg3.jpg") no-repeat center;
  width: 100%;
  height: 777px;
  position: relative;
}
.app-content .bg3 .bg3-wrapper {
  width: 1200px;
  position: absolute;
  margin-left: -600px;
  left: 50%;
  top: 120px;
  text-align: center;
  color: #fff;
}
.app-content .bg3 .bg3-wrapper .txt1 {
  font-size: 80px;
  font-weight: bold;
}
.app-content .bg3 .bg3-wrapper .txt2 {
  font-size: 24px;
  line-height: 2;
}
.app-content .bg3 .bg3-wrapper .app-back-btn {
  margin: 72px auto 0;
  background: url("i/app-back.png") no-repeat center;
  height: 60px;
  width: 290px;
  display: block;
}
.app-content .bg4 {
  background: url("i/app-bg4.jpg") no-repeat center;
  width: 100%;
  height: 788px;
  position: relative;
}
.app-content .bg4 .bg4-wrapper {
  width: 1200px;
  position: absolute;
  margin-left: -600px;
  left: 50%;
  top: 268px;
  text-align: right;
  color: #fff;
}
.app-content .bg4 .bg4-wrapper i {
  background: url("i/Orders.png") no-repeat center;
  height: 76px;
  width: 76px;
  display: inline-block;
  position: relative;
  right: 0;
}
.app-content .bg4 .bg4-wrapper .txt1 {
  font-size: 72px;
  color: #017ec0;
}
.app-content .bg4 .bg4-wrapper .txt2 {
  font-size: 34px;
  color: #19303b;
  line-height: 2;
}
.app-content .bg5 {
  background: url("i/app-bg5.jpg") no-repeat center;
  width: 100%;
  height: 749px;
  position: relative;
}
.app-content .bg6 {
  background: url("i/app-bg6.jpg") no-repeat center;
  width: 100%;
  height: 850px;
  position: relative;
}
.app-content .bg7 {
  background: url("i/app-bg7.jpg") no-repeat center;
  width: 100%;
  height: 721px;
  position: relative;
}
.app-content .bg7 .txt-area {
  width: 1200px;
  position: absolute;
  margin-left: -600px;
  left: 50%;
  top: 73px;
}
.app-content .bg7 .txt-area .txt1 {
  color: #ff0000;
  font-size: 40px;
  text-align: center;
}
.app-content .bg7 .txt-area .txt2 {
  font-size: 24px;
  color: #19303b;
  text-align: center;
  width: 680px;
  margin: 75px auto 0;
}
