.header {
  height: 120px;
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;
}
.header .header-wrapper {
  width: 1200px;
  margin: 0 auto;
}
.header .header-wrapper .logo {
  margin-top: 26px;
  height: 66px;
  width: 334px;
  background: url("i/i-logo.png") no-repeat center;
  float: left;
}
.header .header-wrapper .tel {
  margin-top: 40px;
  height: 44px;
  width: 215px;
  background: url("i/i-tel.png") no-repeat left;
  float: right;
  padding-left: 35px;
}
.header .header-wrapper .tel p {
  font-size: 14px;
  color: #5b5b5b;
}
.header .header-wrapper .tel i {
  color: #ee7207;
  font-size: 24px;
}
.footer {
  height: 148px;
  color: #c9c9c9;
  padding-top: 38px;
  font-size: 12px;
  text-align: center;
}
