.member-content-wrapper .main-content .member-index {
  height: 618px;
  background: url("i/i-member-center.png") no-repeat left;
  overflow: hidden;
}
.member-content-wrapper .main-content .member-index .title {
  font-size: 36px;
  font-weight: bold;
  color: #0078c3;
  margin: 235px 0 0 90px;
}
.member-content-wrapper .main-content .member-index .welcome {
  font-size: 14px;
  margin-left: 90px;
  line-height: 2;
}
