.member-content-wrapper .main-content .member-index {
  height: 618px;
  background: url("i/i-member-center.png") no-repeat left;
  overflow: hidden;
}
.member-content-wrapper .main-content .member-index .title {
  font-size: 36px;
  font-weight: bold;
  color: #0078c3;
  margin: 235px 0 0 90px;
}
.member-content-wrapper .main-content .member-index .welcome {
  font-size: 14px;
  margin-left: 90px;
  line-height: 2;
}
.member-content-wrapper .main-content .member-certification {
  padding: 54px 25px 0 25px;
}
.member-content-wrapper .main-content .member-certification .title {
  font-size: 18px;
  color: #5b5b5b;
  height: 20px;
  line-height: 20px;
  position: relative;
  padding-left: 25px;
}
.member-content-wrapper .main-content .member-certification .title:before {
  content: "";
  position: absolute;
  left: 0;
  height: 20px;
  width: 8px;
  background-color: #ee7207;
  border-radius: 4px;
}
.member-content-wrapper .main-content .member-certification .step p {
  font-size: 12px;
  margin-top: 22px;
  padding-top: 38px;
  padding-left: 20px;
  border-top: 1px solid #cccccc;
  position: relative;
  background: url("i/i-tips.png") no-repeat left bottom;
}
.member-content-wrapper .main-content .member-certification .step .step-line {
  height: 182px;
  background-color: #f4f4f4;
  overflow: hidden;
  margin-top: 15px;
}
.member-content-wrapper .main-content .member-certification .step .step-line ul {
  width: 530px;
  margin: 57px auto 0;
}
.member-content-wrapper .main-content .member-certification .step .step-line ul li {
  float: left;
  width: 33%;
  text-align: center;
  font-size: 18px;
  color: #abb2ba;
}
.member-content-wrapper .main-content .member-certification .step .step-line ul li.now {
  color: #ee7207;
}
.member-content-wrapper .main-content .member-certification .step .step-line ul li i {
  display: block;
  padding-right: 8px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto 20px;
  border-radius: 50%;
  font-size: 30px;
  color: #abb2ba;
  background-color: #ffffff;
  z-index: 2;
}
.member-content-wrapper .main-content .member-certification .step .step-line ul li i.now {
  color: #ffffff;
  background-color: #ee7207;
}
.member-content-wrapper .main-content .member-certification .step .step-line ul li:first-child,
.member-content-wrapper .main-content .member-certification .step .step-line ul li:nth-child(2) {
  position: relative;
}
.member-content-wrapper .main-content .member-certification .step .step-line ul li:first-child:after,
.member-content-wrapper .main-content .member-certification .step .step-line ul li:nth-child(2):after {
  content: "";
  width: 125px;
  height: 6px;
  background-color: #ffffff;
  position: absolute;
  right: -63px;
  top: 23px;
  z-index: 1;
}
.member-content-wrapper .main-content .member-certification .certi-main .tab {
  height: 40px;
  line-height: 40px;
  margin-top: 12px;
}
.member-content-wrapper .main-content .member-certification .certi-main .tab a {
  display: block;
  float: left;
  width: 160px;
  font-size: 16px;
  text-align: center;
  background-color: #ffffff;
  color: #525252;
}
.member-content-wrapper .main-content .member-certification .certi-main .tab a.current {
  color: #ffffff;
  background-color: #0078c3;
}
.member-content-wrapper .main-content .member-certification .certi-main .certi-wrapper {
  border-top: 1px solid #cccccc;
  padding-top: 44px;
}
.member-content-wrapper .main-content .member-certification .certi-main .certi-wrapper p {
  margin: 10px 0;
}
.member-content-wrapper .main-content .member-certification .certi-main .certi-wrapper label {
  width: 140px;
  text-align: right;
  font-size: 14px;
  color: #333333;
  margin-right: 10px;
  display: inline-block;
  float: left;
}
.member-content-wrapper .main-content .member-certification .certi-main .certi-wrapper input[type="radio"] {
  font-size: 14px;
  color: #333333;
  margin: 0 5px 0 10px;
}
.member-content-wrapper .main-content .member-certification .certi-main .certi-wrapper input[type="text"] {
  width: 300px;
  height: 40px;
  border: 1px solid #cccccc;
  padding-left: 14px;
  font-size: 14px;
}
.member-content-wrapper .main-content .member-certification .certi-main .certi-wrapper select {
  width: 95px;
  height: 40px;
  margin-right: 10px;
  padding-left: 14px;
  border: 1px solid #cccccc;
}
.member-content-wrapper .main-content .member-certification .certi-main .certi-wrapper .upload {
  margin: 10px 0;
  position: relative;
}
.member-content-wrapper .main-content .member-certification .certi-main .certi-wrapper .upload .img-area {
  float: left;
  width: 240px;
  height: 170px;
}
.member-content-wrapper .main-content .member-certification .certi-main .certi-wrapper .upload .img-area img {
  height: 100%;
  width: 100%;
}
.member-content-wrapper .main-content .member-certification .certi-main .certi-wrapper .upload .img-box {
  float: left;
  width: 240px;
  height: 170px;
  line-height: 170px;
  text-align: center;
  font-size: 16px;
  color: #cccccc;
  border: 1px dashed #cccccc;
  margin-left: 10px;
}
.member-content-wrapper .main-content .member-certification .certi-main .certi-wrapper .upload .upload-btn {
  height: 36px;
  width: 90px;
  line-height: 36px;
  background-color: #ee7207;
  color: #ffffff;
  cursor: pointer;
  float: left;
  text-align: center;
  margin-left: 10px;
}
.member-content-wrapper .main-content .member-certification .certi-main .certi-wrapper .upload .upload-tips {
  color: #abb2ba;
  font-size: 12px;
  position: absolute;
  right: 148px;
  top: 30px;
}
.member-content-wrapper .main-content .member-certification .certi-main .certi-wrapper .iagree {
  font-size: 12px;
  margin: 30px 0 20px 140px;
  color: #abb2ba;
}
.member-content-wrapper .main-content .member-certification .certi-main .certi-wrapper .btn-area {
  margin-left: 140px;
  padding-bottom: 140px;
}
.member-content-wrapper .main-content .member-certification .certi-main .certi-wrapper .btn-area div {
  height: 50px;
  width: 150px;
  line-height: 50px;
  text-align: center;
  float: left;
  cursor: pointer;
}
.member-content-wrapper .main-content .member-certification .certi-main .certi-wrapper .btn-area div.submit-btn {
  background-color: #ee7207;
  color: #ffffff;
}
.member-content-wrapper .main-content .member-certification .certi-main .certi-wrapper .btn-area div.cancle-btn {
  margin-left: 10px;
  background-color: #e5e5e5;
  color: #525252;
}
