.member-content-wrapper {
  .main-content{
    .member-index{
      height: 618px;
      background: url("i/i-member-center.png") no-repeat left;
      overflow: hidden;
      .title{
        font-size: 36px;
        font-weight: bold;
        color: #0078c3;
        margin: 235px 0 0 90px;
      }
      .welcome{
        font-size: 14px;
        margin-left: 90px;
        line-height: 2;
      }
    }
    .member-certification{
      padding: 54px 25px 0 25px;
      .title{
        font-size: 18px;
        color: #5b5b5b;
        height: 20px;
        line-height: 20px;
        position: relative;
        padding-left: 25px;
        &:before{
          content: "";
          position: absolute;
          left: 0;
          height: 20px;
          width: 8px;
          background-color: #ee7207;
          border-radius: 4px;
        }
      }
      .step{
        p{
          font-size: 12px;
          margin-top: 22px;
          padding-top: 38px;
          padding-left: 20px;
          border-top: 1px solid #cccccc;
          position: relative;
          background: url("i/i-tips.png") no-repeat left bottom;
        }
        .step-line{
          height: 182px;
          background-color: #f4f4f4;
          overflow: hidden;
          margin-top: 15px;
          ul{
            width: 530px;
            margin: 57px auto 0;
            li{
              float: left;
              width: 33%;
              text-align: center;
              font-size: 18px;
              color: #abb2ba;
              &.now{
                color: #ee7207;
              }
              i{
                display: block;
                padding-right: 8px;
                width: 50px;
                height: 50px;
                line-height: 50px;
                margin:0 auto 20px;
                border-radius: 50%;
                font-size: 30px;
                color: #abb2ba;
                background-color: #ffffff;
                z-index: 2;
                &.now{
                  color: #ffffff;
                  background-color: #ee7207;
                }
              }
              &:first-child,&:nth-child(2){
                position: relative;
                &:after{
                  content: "";
                  width: 125px;
                  height: 6px;
                  background-color: #ffffff;
                  position: absolute;
                  right: -63px;
                  top: 23px;
                  z-index: 1;
                }
              }
            }
          }
        }
      }
      .certi-main{
        .tab{
          height: 40px;
          line-height: 40px;
          margin-top: 12px;
          a{
            display: block;
            float: left;
            width: 160px;
            font-size: 16px;
            text-align: center;
            background-color: #ffffff;
            color: #525252;
            &.current{
              color: #ffffff;
              background-color: #0078c3;
            }
          }
        }
        .certi-wrapper{
          border-top: 1px solid #cccccc;
          padding-top: 44px;
          p{
            margin: 10px 0;
          }
          label{
            width: 160px;
            text-align: right;
            font-size: 14px;
            color: #333333;
            margin-right: 10px;
            display: inline-block;
            float: left;
          }
          input[type="radio"]{
            font-size: 14px;
            color: #333333;
            margin: 0 5px 0 10px;
          }
          input[type="text"]{
            width: 300px;
            height: 40px;
            border: 1px solid #cccccc;
            padding-left: 14px;
            font-size: 14px;
          }
          select{
            width: 95px;
            height: 40px;
            margin-right: 10px;
            padding-left: 14px;
            border: 1px solid #cccccc;
          }
          .yellowtips{
            font-size: 12px;
            padding-left: 170px;
            background: url("i/i-tips.png") no-repeat 150px;
            margin-bottom: 50px;
          }
          .upload{
            margin: 10px 0;
            .img-area{
              float: left;
              width: 240px;
              height: 170px;
              img{
                height: 100%;
                width: 100%;
              }
            }
            .img-box{
              float: left;
              width: 240px;
              height: 170px;
              line-height: 170px;
              text-align: center;
              font-size: 16px;
              color: #cccccc;
              border: 1px dashed #cccccc;
              margin-left: 10px;
            }
            .upload-btn-tips{
              position: relative;
              float: left;
            }
            .upload-btn{
              height: 36px;
              width: 90px;
              line-height: 36px;
              background-color: #ee7207;
              color: #ffffff;
              cursor: pointer;
              float: left;
              text-align: center;
              margin-left: 10px;
            }
            .upload-tips{
              color: #abb2ba;
              font-size: 12px;
              right: -48px;
              top: 30px;
              width: 140px;
              position: absolute;
            }
          }
          .add-adress{
            height: 40px;
            line-height: 40px;
            width: 50px;
            background-color: #0078c3;
            color: #ffffff;
            text-align: center;
            cursor: pointer;
            display: inline-block;
          }
          .my-area{
            height: 144px;
            border: 1px solid #cccccc;
            margin-left: 160px;
            span{
              font-size: 12px;
              color: #5b5b5b;
              line-height: 1.5;
              padding: 2px 5px;
              border: 1px solid #cccccc;
              border-radius: 15px;
              margin: 10px 10px 0 10px;
              display: inline-block;
              &:hover{
                border: 1px solid #ee7207;
              }
              i{
                font-style: normal;
                padding: 2px 5px;
                color: #ee7207;
                cursor: pointer;
                line-height: 1.5;
              }

            }


          }
          .iagree{
            font-size: 12px;
            margin: 30px 0 20px 160px;
            color: #5d5d5d;
          }
          .btn-area{
            margin-left: 160px;
            padding-bottom: 160px;
            div{
              height: 50px;
              width: 150px;
              line-height: 50px;
              text-align: center;
              float: left;
              cursor: pointer;
              &.submit-btn{
                background-color: #ee7207;
                color: #ffffff;
              }
              &.cancle-btn{
                margin-left: 10px;
                background-color: #e5e5e5;
                color: #525252;
              }
            }
          }


        }
      }
    }
  }
}
