.sign-in-content {
  width: 100%;
  height: 524px;
  background: url("../img/img01.jpg") no-repeat center;
}
.sign-in-content .content-wrapper {
  width: 1200px;
  margin: 0 auto;
}
.sign-in-content .content-wrapper .sign-in-wrapper {
  margin-top: 57px;
  width: 400px;
  height: 410px;
  float: right;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 38px 50px 30px 50px;
}
.sign-in-content .content-wrapper .sign-in-wrapper .title {
  font-size: 24px;
}
.sign-in-content .content-wrapper .sign-in-wrapper .sign-in-input input {
  height: 43px;
  border-radius: 3px;
  border: 1px solid #c9c9c9;
  margin: 13px 0;
  width: 100%;
  padding-left: 43px;
}
.sign-in-content .content-wrapper .sign-in-wrapper .sign-in-input input.username {
  margin-top: 43px;
  background: url("i/i-username.png") no-repeat 7px;
}
.sign-in-content .content-wrapper .sign-in-wrapper .sign-in-input input.pwd {
  background: url("i/i-pwd.png") no-repeat 7px;
}
.sign-in-content .content-wrapper .sign-in-wrapper .sign-in-input input.icode {
  width: 162px;
  background: url("i/i-icode.png") no-repeat 7px;
}
.sign-in-content .content-wrapper .sign-in-wrapper .sign-in-input .code-img {
  float: right;
  margin-top: 13px;
  width: 120px;
  height: 43px;
}
.sign-in-content .content-wrapper .sign-in-wrapper .sign-in-input .sign-in-btn {
  text-align: center;
  width: 100%;
  border-radius: 3px;
  color: #ffffff;
  background-color: #0078c3;
  height: 43px;
  line-height: 43px;
  cursor: pointer;
}
.sign-in-content .content-wrapper .sign-in-wrapper .to-sign {
  font-size: 12px;
  margin-top: 18px;
  text-align: right;
}
.sign-in-content .content-wrapper .sign-in-wrapper .to-sign a {
  color: #0078c3;
}
.sign-up-content .content-wrapper {
  width: 1200px;
  margin: 20px auto;
  padding: 45px 30px 80px 40px;
  background-color: #ffffff;
}
.sign-up-content .content-wrapper .sign-up-wrapper {
  width: 302px;
  float: left;
}
.sign-up-content .content-wrapper .sign-up-wrapper .title {
  font-size: 24px;
}
.sign-up-content .content-wrapper .sign-up-wrapper .title span {
  font-size: 16px;
}
.sign-up-content .content-wrapper .sign-up-wrapper .sign-up-input input {
  height: 43px;
  border-radius: 3px;
  border: 1px solid #c9c9c9;
  margin: 7px 0;
  width: 100%;
  padding-left: 43px;
}
.sign-up-content .content-wrapper .sign-up-wrapper .sign-up-input input.username {
  margin-top: 46px;
  background: url("i/i-username.png") no-repeat 7px;
}
.sign-up-content .content-wrapper .sign-up-wrapper .sign-up-input input.pwd {
  background: url("i/i-pwd.png") no-repeat 7px;
}
.sign-up-content .content-wrapper .sign-up-wrapper .sign-up-input input.icode {
  width: 162px;
  background: url("i/i-icode.png") no-repeat 7px;
}
.sign-up-content .content-wrapper .sign-up-wrapper .sign-up-input input.tel {
  width: 162px;
  background: url("i/i-icode.png") no-repeat 7px;
}
.sign-up-content .content-wrapper .sign-up-wrapper .sign-up-input input.taketel {
  background: url("i/i-username.png") no-repeat 7px;
}
.sign-up-content .content-wrapper .sign-up-wrapper .sign-up-input input.iagree {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  vertical-align: sub;
}
.sign-up-content .content-wrapper .sign-up-wrapper .sign-up-input .get-code {
  float: right;
  margin-top: 7px;
  width: 120px;
  height: 43px;
  line-height: 43px;
  border-radius: 3px;
  border: 1px solid #0078c3;
  font-size: 12px;
  text-align: center;
  color: #0078c3;
  cursor: pointer;
}
.sign-up-content .content-wrapper .sign-up-wrapper .sign-up-input .code-img {
  float: right;
  margin-top: 7px;
  width: 120px;
  height: 43px;
}
.sign-up-content .content-wrapper .sign-up-wrapper .sign-up-input .iagree-txt {
  font-size: 12px;
  margin: 43px 0 10px 0;
}
.sign-up-content .content-wrapper .sign-up-wrapper .sign-up-input .iagree-txt span {
  color: #0078c3;
  cursor: pointer;
}
.sign-up-content .content-wrapper .sign-up-wrapper .sign-up-input .sign-up-btn {
  text-align: center;
  width: 100%;
  border-radius: 3px;
  color: #ffffff;
  background-color: #0078c3;
  height: 43px;
  line-height: 43px;
  cursor: pointer;
}
.sign-up-content .content-wrapper .qrcode-wrapper {
  width: 406px;
  float: right;
  border-left: 1px dashed #c9c9c9;
  padding: 36px 0 96px 90px;
}
.sign-up-content .content-wrapper .qrcode-wrapper .img-area {
  height: 210px;
  width: 210px;
  margin: 83px 0 19px 0;
}
.sign-up-content .content-wrapper .qrcode-wrapper .img-area img {
  width: 100%;
  height: 100%;
}
.sign-up-content .content-wrapper .qrcode-wrapper p {
  font-size: 12px;
}
.sign-up-content .content-wrapper .qrcode-wrapper p a {
  color: #0078c3;
}
.sign-up-content .content-wrapper .qrcode-wrapper p.tosignin {
  text-align: right;
}
.sign-up-content .content-wrapper .qrcode-wrapper p.wechat {
  text-align: center;
  width: 210px;
}
.popup {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.popup .popup_card {
  padding: 35px;
  width: 900px;
  position: absolute;
  top: 150px;
  background-color: #fff;
  left: 50%;
  margin-left: -450px;
  height: 500px;
  overflow-y: auto;
}
.popup .popup_card .popup_close {
  float: right;
  margin: -20px -20px 0 0;
  height: 26px;
  width: 26px;
  cursor: pointer;
  padding: 0 0 0 5px;
  border: 1px solid #0078c3;
  border-radius: 50%;
}
.popup .popup_card .popup_close .close_css {
  position: relative;
  width: 2px;
  left: 6px;
  top: 5px;
  height: 15px;
  background: #0078c3;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.popup .popup_card .popup_close .close_css:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 15px;
  background: #0078c3;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.popup .popup_card .popup_title {
  color: #0078c3;
  padding-bottom: 20px;
  border-bottom: 1px solid #d6d6d6;
}
.popup .popup_card .popup_content {
  font-size: 12px;
  line-height: 2;
  padding-top: 20px;
}
.agree-protocol .popup_card {
  width: 900px;
  margin-left: -450px;
  height: 500px;
}
.sign-up-content .content-wrapper {
  width: 1200px;
  margin: 20px auto;
  padding: 45px 30px 80px 40px;
  background-color: #ffffff;
}
.sign-up-content .content-wrapper .find-pwd-wrapper {
  float: left;
}
.sign-up-content .content-wrapper .find-pwd-wrapper .title {
  font-size: 24px;
}
.sign-up-content .content-wrapper .find-pwd-wrapper .title span {
  font-size: 16px;
}
.sign-up-content .content-wrapper .find-pwd-wrapper .info {
  font-size: 14px;
  position: relative;
  padding-left: 20px;
  margin: 135px 0 15px;
}
.sign-up-content .content-wrapper .find-pwd-wrapper .info:before {
  content: "";
  height: 14px;
  width: 16px;
  background: url("i/i-info.png") no-repeat left;
  position: absolute;
  left: 0;
  display: inline;
  top: 3px;
}
.sign-up-content .content-wrapper .find-pwd-wrapper .find-pwd-input {
  width: 302px;
  position: relative;
}
.sign-up-content .content-wrapper .find-pwd-wrapper .find-pwd-input input {
  height: 43px;
  border-radius: 3px;
  border: 1px solid #c9c9c9;
  margin: 15px 0;
  width: 100%;
  padding-left: 43px;
}
.sign-up-content .content-wrapper .find-pwd-wrapper .find-pwd-input input.username {
  background: url("i/i-username.png") no-repeat 7px;
}
.sign-up-content .content-wrapper .find-pwd-wrapper .find-pwd-input input.pwd {
  background: url("i/i-pwd.png") no-repeat 7px;
}
.sign-up-content .content-wrapper .find-pwd-wrapper .find-pwd-input input.repwd {
  background: url("i/i-icode.png") no-repeat 7px;
}
.sign-up-content .content-wrapper .find-pwd-wrapper .find-pwd-input input.icode {
  width: 162px;
  background: url("i/i-icode.png") no-repeat 7px;
}
.sign-up-content .content-wrapper .find-pwd-wrapper .find-pwd-input input.tel {
  width: 162px;
  background: url("i/i-icode.png") no-repeat 7px;
}
.sign-up-content .content-wrapper .find-pwd-wrapper .find-pwd-input input.taketel {
  background: url("i/i-username.png") no-repeat 7px;
}
.sign-up-content .content-wrapper .find-pwd-wrapper .find-pwd-input .pwd-level {
  position: absolute;
  right: -175px;
  top: 35px;
}
.sign-up-content .content-wrapper .find-pwd-wrapper .find-pwd-input .pwd-level span {
  width: 50px;
  padding: 7px 17px;
  margin-left: 5px;
  border-top: 4px solid #777777;
  font-size: 12px;
}
.sign-up-content .content-wrapper .find-pwd-wrapper .find-pwd-input .pwd-tips {
  position: absolute;
  right: -95px;
  top: 100px;
  color: #f66f00;
  text-decoration: underline;
  font-size: 12px;
  cursor: pointer;
}
.sign-up-content .content-wrapper .find-pwd-wrapper .find-pwd-input .pwd-tips:after {
  content: "";
  display: block;
  position: absolute;
  right: -295px;
  top: 20px;
  width: 360px;
  height: 161px;
  background: url("i/i-pwd-tips.png") no-repeat center;
}
.sign-up-content .content-wrapper .find-pwd-wrapper .find-pwd-input .get-code {
  float: right;
  margin-top: 15px;
  width: 120px;
  height: 43px;
  line-height: 43px;
  border-radius: 3px;
  border: 1px solid #0078c3;
  font-size: 12px;
  text-align: center;
  color: #0078c3;
  cursor: pointer;
}
.sign-up-content .content-wrapper .find-pwd-wrapper .find-pwd-input .get-code-line {
  position: relative;
}
.sign-up-content .content-wrapper .find-pwd-wrapper .find-pwd-input .get-code-line .code-tips {
  width: 140px;
  font-size: 12px;
  position: absolute;
  right: -150px;
  top: 20px;
}
.sign-up-content .content-wrapper .find-pwd-wrapper .find-pwd-input .get-code-line .code-tips p:first-child {
  color: #525252;
}
.sign-up-content .content-wrapper .find-pwd-wrapper .find-pwd-input .get-code-line .code-tips p:last-child {
  color: #808080;
}
.sign-up-content .content-wrapper .find-pwd-wrapper .find-pwd-input .submit-btn {
  text-align: center;
  width: 100%;
  border-radius: 3px;
  color: #ffffff;
  background-color: #0078c3;
  height: 43px;
  line-height: 43px;
  cursor: pointer;
  margin-top: 15px;
}
.sign-up-content .content-wrapper .find-pwd-wrapper .pwd-done {
  padding-left: 140px;
  width: 580px;
  height: 123px;
  margin: 150px 0 0 30px;
  background: url("i/i-smell.png") no-repeat left;
}
.sign-up-content .content-wrapper .find-pwd-wrapper .pwd-done p {
  font-size: 14px;
}
.sign-up-content .content-wrapper .find-pwd-wrapper .pwd-done .take-personal {
  display: block;
  width: 302px;
  height: 42px;
  line-height: 42px;
  background-color: #0078c3;
  color: #ffffff;
  text-align: center;
  border-radius: 3px;
  margin-top: 25px;
}
.get-code-popup .popup_card {
  width: 578px;
  margin-left: -289px;
  height: 315px;
}
.get-code-popup .popup_content p {
  text-align: center;
  margin-top: 40px;
}
.get-code-popup .popup_content .check-btn {
  width: 140px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  color: #ffffff;
  background-color: #0078c3;
  margin: 0 auto;
  border-radius: 3px;
  margin-top: 20px;
}
.get-code-popup .popup_content .re-mail {
  text-align: center;
  margin-top: 30px;
}
.get-code-popup .popup_content .re-mail .re-btn {
  background-color: #f6f6f6;
  width: 95px;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  color: #cccccc;
  border: 1px solid #cccccc;
  cursor: default;
  padding: 2px 5px;
}
.get-code-popup .popup_content .re-mail .re-btn.active {
  color: #0078c3;
  border: 1px solid #0078c3;
  cursor: pointer;
}
